span {
    width: 100vw;
    text-align: center;
}

.container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

img {
    max-width: 100%;
    border-radius: 62% 38% 30% 70% / 54% 49% 51% 46%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}